
@media screen and (max-width: 770px) {
    .footer {
        min-height: 100%;
    }

    .col-footer-4 {
        flex-basis: 100%;
        padding-bottom: 20px;
    }

    .end-footer {
        background: var(--back-red);
        color: white !important;
    }


}