* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: Figtree, sans-serif;
    font-feature-settings: normal
}

:root {
    --back-red: rgb(22, 246, 245);
    --back-hover: rgb(112, 248, 248);
    --back-darkred: rgb(52, 237, 235);
    --back-white: white;
    --back-light: #f5f5f5;
    --back-border: #333;
    --main-bg: rgb(12, 158, 184);

}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f8f8f8;
}

.container{
    width: 100%;
}

.welcome-logo{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    line-height: 2;
}

.welcome-logo img{
    width: 120px;
    height: 120px;
    margin-top: 20px;
    object-fit: cover;
}

.welcome-grid{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
}
.welcome-grid a{
    text-decoration: none;
}

.welcome-grid .col-6{
    box-shadow: 5px 5px 2.3rem -5px #d3d3d3;
    padding: 1.6rem;
    background: white;
    border-radius: 10px;
    min-height: 100%;
    transition: 0.5s;
}
.welcome-grid .col-6:hover{
    transform: scale(102%);
}



.card {
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

.card .card-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(160, 238, 238, 0.4);
    display: flex;

}

.card .card-icon i {
    margin: auto;
    font-size: 15px;
    color: var(--back-red);
}

.card .card-text {
    margin-top: 20px;
}

.card .card-text h4 {
    font-size: 20px;
    color: #333;
    font-family: Figtree, sans-serif;
    font-weight: 600;
}

.card .card-text p {
    color: #555;
    font-size: 14px;
    margin-top: 15px;
    font-family: Figtree, sans-serif;
    padding-bottom: 5px;
}

.width-90{
    width: 90%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.noaphp-sponse a{
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    color: #666;
}

.justify-space{
    display: flex;
    width: 96%;
    gap: 20px;
    justify-content: space-between;
}
.text-defult{
    color: var(--back-red);
    font-size: 20px;
}
.vertion p{
    color: #666;
    font-size: 14px;
}

@media screen and (max-width: 765px) {
    .welcome-grid{
        width: 90%;
        margin: auto;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 2rem;
    }
}